* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Flama';
    src: url(fonts/Flama-Condensed-Black.otf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


#millones{
    font-size: 45pt ;
    font-family: 'Flama', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    left: 5%;
    top: 28%;
    right: 2%;
    position: absolute;
}
/* 768x384 */
@media only screen and (max-width: 800px) {
    #millones, #title1{
        font-size: 80pt !important;
        font-family: 'Flama';
        color: #000;
        left: 0%;
        top: 41%;
        right: 0%;
        position: absolute;
    }
    #millones, #title2{
        font-size: 80pt !important;
        font-family: 'Flama';
        color: #000;
        left: 15%;
        top: 60%;
        right: 5%;
        position: absolute;
    }

}

/* 768x384 */
@media only screen and (max-width: 960px) {
    #millones, #title1{
        font-size: 80pt !important;
        font-family: 'Flama';
        color: #000;
        left: 0%;
        top: 41%;
        right: 0%;
        position: absolute;
    }
    #millones, #title2{
        font-size: 80pt !important;
        font-family: 'Flama';
        color: #000;
        left: 15%;
        top: 60%;
        right: 5%;
        position: absolute;
    }

}